doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        .wrapper-center
            include assets/input-text/input-text.pug
            include assets/dropdown/dropdown.pug
            include assets/masked-date/masked-date.pug
            include assets/checkbox-button/checkbox-button.pug
          
                
